name: "CI"

on:
  push:
    branches-ignore:
      - 'master'
      - 'main'
      - 'restyled/*'

jobs:
  pre-release:
    name: "Pre Release latest"
    runs-on: "ubuntu-20.04"
    steps:
      - uses: actions/checkout@v1
      - name: install platform io
        run: | 
          pip3 install -U setuptools
          pip3 install -U wheel
          pip3 install -U platformio
          python3 -m platformio update
          
      - name: building examples and running the unit tests
        run: bash ./.scripts/ci_local.sh

      - uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: build-artifact
          path: .