name: "pre-release"

on:
  push:
    branches:
      - 'master'
      - 'main'

jobs:
  latest-release:
    name: "Pre Release latest"
    runs-on: "ubuntu-20.04"
    steps:
      - uses: actions/checkout@v1

      - name: install doc deps
        run: sudo apt-get install --yes doxygen graphviz latexmk texlive-latex-extra

      - name: install platform io
        run: | 
          pip3 install -U setuptools
          pip3 install -U wheel
          pip3 install -U platformio
          python3 -m platformio update
          python3 -m platformio lib install "adafruit/DHT sensor library"
          
      - name: building examples and running the unit tests
        run: bash ./.scripts/ci_local.sh

      - name: prepare for building docs
        run: |
          mkdir doc/html
          mkdir doc/latex
      
      - name: build documentation
        run: bash .scripts/doxygen_multilang.sh
        
      - name: pack repo
        run: |
          zip -r latest.zip src License README.md library.properties keywords.txt .vscode examples src

      - name: Check code meets quality standards
        id: code-inspector
        uses: codeinspectorio/github-action@master
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          code_inspector_access_key: ${{ secrets.CODE_INSPECTOR_ACCESS_KEY }}
          code_inspector_secret_key: ${{ secrets.CODE_INSPECTOR_SECRET_KEY }}
          min_quality_grade: 'EXCELLENT'
          min_quality_score: '99'
          max_defects_rate: '0.01'
          max_complex_functions_rate: '0.01'
          max_long_functions_rate: '0.01'
          project_name: 'LedController'
          max_timeout_sec: '600'

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Development Build"
          files: |
            License
            latest.zip
            refman_english.pdf
            refman_german.pdf

      - name: Deploy to pages
        if: "contains(github.event.head_commit.message, '--build-docs')"
        uses: s0/git-publish-subdir-action@master
        env:
          REPO: self
          BRANCH: gh-pages
          FOLDER: doc/html
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: build-artifact-${{ matrix.os }}-${{ matrix.compiler }}
          path: .
